.container {
   display:grid;
   grid-template-rows: repeat(3, 1fr);
   grid-template-columns:repeat(3,1fr);
gap:10px;
width:100%;
max-width:500px;
}

.square {
    Background-color: teal;
    width: 30px;
    height: 30px;
}